In [6]:
print('hello')

hello

In [ ]:
%pip install pandas

In [34]:
import numpy as np
import pandas as pd
df= pd.read_csv("Data.csv")

In [35]:
df.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID
0,558638,ZINC METAL HEART DECORATION,12,7/1/2011 8:16,1.25,16317.0
1,558638,HANGING JAM JAR T-LIGHT HOLDER,24,7/1/2011 8:16,0.85,16317.0
2,558638,LANTERN CREAM GAZEBO,3,7/1/2011 8:16,4.95,16317.0
3,558638,ZINC T-LIGHT HOLDER STAR LARGE,12,7/1/2011 8:16,0.95,16317.0
4,558638,FRENCH TOILET SIGN BLUE METAL,12,7/1/2011 8:16,1.25,16317.0

In [36]:
df.describe

<bound method NDFrame.describe of         BillNo                            Itemname  Quantity             Date  \
0       558638         ZINC METAL HEART DECORATION        12    7/1/2011 8:16
1       558638      HANGING JAM JAR T-LIGHT HOLDER        24    7/1/2011 8:16
2       558638                LANTERN CREAM GAZEBO         3    7/1/2011 8:16
3       558638      ZINC T-LIGHT HOLDER STAR LARGE        12    7/1/2011 8:16
4       558638       FRENCH TOILET SIGN BLUE METAL        12    7/1/2011 8:16
...        ...                                 ...       ...              ...
110808  569202                   PLASMATRONIC LAMP         1  9/30/2011 17:22
110809  569202       SET OF 2 ROUND TINS CAMEMBERT         1  9/30/2011 17:22
110810  569202              MINI JIGSAW DOLLY GIRL         2  9/30/2011 17:22
110811  569202           MINI JIGSAW CIRCUS PARADE         2  9/30/2011 17:22
110812  569202  BLUE DRAWER KNOB ACRYLIC EDWARDIAN        10  9/30/2011 17:22

        Price  CustomerID
0        1.25     16317.0
1        0.85     16317.0
2        4.95     16317.0
3        0.95     16317.0
4        1.25     16317.0
...       ...         ...
110808   8.29         NaN
110809   5.79         NaN
110810   0.83         NaN
110811   0.83         NaN
110812   1.25         NaN

[110813 rows x 6 columns]>

In [42]:

df["Quantity"]= df["Quantity"].abs()
df["Quantity"].min()

1

List of all the top perforermers and the products which are lagging

In [49]:
df["Itemname"]=df["Itemname"].str.lower()
grouped_data = df.groupby('Itemname')['Quantity'].sum().reset_index()
grouped_data = grouped_data.sort_values(by='Quantity', ascending=False)

q1=grouped_data["Quantity"].quantile(.25)
q3=grouped_data["Quantity"].quantile(.75)

iqr= q3-q1
upper_bound = q3 + 1.5 * iqr
lower_bound = q1 


upper_outliers = grouped_data[grouped_data['Quantity'] > upper_bound]
below_outliers = grouped_data[grouped_data['Quantity'] < lower_bound]


print("Products which have the highest sales:")
print(upper_outliers)


print("\nProducts which have the lowest sales:")
print(below_outliers)

Products which have the highest sales:
                                Itemname  Quantity
1427             jumbo bag red retrospot     11857
187        assorted colour bird ornament     10942
2096                      popcorn holder     10604
3061   world war 2 gliders asstd designs      7714
2997  white hanging heart t-light holder      7304
...                                  ...       ...
956                 feather pen,hot pink       956
3072                wrap alphabet poster       955
2237               regency milk jug pink       953
2546  set/3 red gingham rose storage box       950
1304           heart ivory trellis small       950

[312 rows x 2 columns]

Products which have the lowest sales:
                                 Itemname  Quantity
252           beach hut shelf w 3 drawers        17
182         ass floral print spirit level        17
1395         ivory wire kitchen organiser        17
1612  marie antoinette trinket box silver        17
2491         set of 4 napkin charms stars        17
...                                   ...       ...
1773                 nurse's bag soft toy         1
158   ant silver lime green boudicca ring         1
1859            pair butterfly hair clips         1
145     amethyst diamante expandable ring         1
327         black+white necklace w tassel         1

[767 rows x 2 columns]